
body {    
    box-sizing: border-box;
    background-color: #c5e4e7;
    font-family: 'Space Mono', monospace;
}

.form-control {
    border-style: hidden;
    background-color:#f4fafa;
}
.textSize {
    font-size: 3rem;
    color: #26c0ab;
}