
body {    
    box-sizing: border-box;
    background-color: #c5e4e7;
    font-family: 'Space Mono', monospace;
}

.form-control {
    border-style: hidden;
    background-color:#f4fafa;
}

.textSize {
    color: #26c0ab;
}

.botones div button {
    background-color: #00494d;
    color: #ffffff;
}

.botones div:nth-child(6) input {
    background-color: #f4fafa;
    color: #5e7a7d;    
    font-weight: 700;
    text-align: center!important;    
}

.btnSelected {
    background-color: #26c0ab!important;
}

#logoDolar {
    padding-left: 20px;
    position: relative;
    bottom: 36px;
}

#logoPerson {
    padding-left: 20px;
    position: relative;
    bottom: 36px;
}

#inputBillText, #inputPeopleText {
    color: #00494d;
}

#invalid-feedback {
    display: none;
    color: red;
}